body { background: #FFF; font-family: museo; font-weight: 200; padding: 0; }

/* button */

.btn { color: #FFF; display: inline-block; font-size: 1.4em; font-weight: 400; padding: 1em 2em; position: relative; 
	-webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }
.btn.green { background-color: #5ebb91; }
.btn.green:hover { background-color: #45a674; }

#signin { background: #BBB; color: #FFF; padding: .5em 1em .7em 1em; position: absolute; right: 2em; top: 0;
	-webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; }
#signin:hover { padding-top: 1em }

li a, p a { color: #0084ff; }
li a:hover, p a:hover { border-bottom: 1px dotted; }

#content { color: #55595d; text-align: center; }

#instajelly img { height: 66px; margin-top: 4em; width: 122px; }
#logotype { font-size: 4em; font-weight: bold; letter-spacing: -.03em; margin-bottom: .3em; }

#info { border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; padding-top: 2em; width: 18em; }
#info.left { text-align: left; }
#info ul { margin-top: 2em; }
#info li { margin-bottom: 2em; padding-left: 3.5em; text-align: left; }
#info h3 { color: #c2c2c2; cursor: default; font-size: 2em; font-weight: 100; }
#info p {  line-height: 1.3em; margin-bottom: 2em; }

#info li:nth-child(1) { background: url(../img/icon-share.png) no-repeat left center; }
#info li:nth-child(2) { background: url(../img/icon-like.png) no-repeat left center; }
#info li:nth-child(3) { background: url(../img/icon-follow.png) no-repeat left center; }
#info li:nth-child(4) { background: url(../img/icon-view.png) no-repeat left center; }

#ftr { padding: 1em 0; width: 17em; }
#ftr li { display: inline-block; font-size: .8em; margin: 0 .5em; text-align: left; }
#ftr li a { color: #999; }

#signin { -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -ms-transition: all .3s linear; -o-transition: all .3s linear;  transition: all .3s linear; }

::selection { background-color: #e24154; color:#fff; }
::-moz-selection { background-color: #e24154; color:#fff; }